@media screen and (max-width:600px) {
    body {
        margin: 0 10px;
    }

    .input-item,
    .choose-article,
    .popular-section,
    .perfect-place,
    .newsletter {
        flex-direction: column;
    }
    nav>div {
        width: auto;
    }
    .item-list{
        display: none;
    }
    .bar-icon{
        display: block;
    }
    .banner-section {
        height: auto;
        width: auto;
    }

    .popular-content {
        padding: 0px;
    }

    .popular-section>div {
        width: auto;

    }

    .choose-content p {
        padding: 10px 10px;
    }

    .article-container article {
        width: auto;
    }
    .perfect-place >div{
        width: auto;
    }
    .destination-content{
        padding: 20px;
    }

    .newsletter-content,
    .newsletter-img {
        width: auto;
    }
    .img-container .wide {
        grid-column: span 1;
    }
    

    .discount p {
        color: #FFF;
        font-size: 8px;
    }
    .blog-section{
        grid-template-columns:  1fr;
        padding: 20px 30px;
    }

    .newsletter-content h3 {
        padding: 25px 0;
        margin-top: 10px;

    }

    footer {
        padding: 100px 40px;
    }


}

@media screen and (min-width:600px) and (max-width:992px) {

    .input-item,
    .choose-article,
    .popular-section {
        flex-direction: column;
    }

    .popular-section>div {
        width: auto;

    }

    .choose-content p {
        padding: 10px 10px;
    }

    .article-container article {
        width: auto;
    }
}